In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv("mis_notebooks/01.csv")
df.head()

   bar  20090101  a  1
0  bar  20090102  a  3
1  bar  20090103  a  5
2  bar  20090101  b  1
3  bar  20090102  b  3
4  bar  20090103  b  5

**par√°metros varios de read_csv**

In [34]:
df2 = pd.read_csv("mis_notebooks/01.csv", sep=",", names=['bar', 'fecha', "uno", "dos"], 
                dtype={'dos':np.int64}, parse_dates=['fecha'], skiprows=0, header=0, 
                skip_blank_lines=True, na_filter=False)
df2.head()

   bar      fecha uno  dos
0  bar 2009-01-02   a    3
1  bar 2009-01-03   a    5
2  bar 2009-01-01   b    1
3  bar 2009-01-02   b    3
4  bar 2009-01-03   b    5